*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: peachpuff;
    color: royalblue;
} 

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    padding-top: 0px;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 120px;
}

.double {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
    flex: 0 0 auto;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#colorPicker {
    background-color: peachpuff;
    border: none;
    width: 100%;
    height: 20%;
}

#colorPicker:hover {
    transform: scale(1.2);
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.2);
}

#black:focus,
#rainbow:focus,
#eraser:focus {
    background-color: royalblue;
    color: peachpuff;
    transform: scale(1.2);
}
button#reset:active {
    background-color: royalblue;
    color: peachpuff;
}

.makeItGreen {
    background-color: green;
}

.makeItBlack {
    background-color: black;
}

.makeItWhite {
    background-color: white;
}

.makeItRed {
    background-color: red;
}

.makeItYellow {
    background-color: yellow;
}

.slider-container {
    width: 100%;
}

.slider {
    width: 117px;
    height: 25px;
}

#demo {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

footer {
    background-color: royalblue;
    color: peachpuff;
    position: fixed;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
    column-gap: 10px;
}

footer img {
    height: 25px;
}

footer img:hover {
    transform: rotate(360deg);
    transition-duration: 2s;
}