*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
} */
.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    /* width: 100vh; */
    height: 800px;
    width: 800px;
}

.makeItGreen {
    background-color: green;
}

.makeItBlack {
    background-color: black;
}

.makeItWhite {
    background-color: white;
}

.makeItRed {
    background-color: red;
}

.makeItYellow {
    background-color: yellow;
}